# AppVeyor configuration for PEHint project

version: '{branch}.{build}'
skip_tags: true

# Set the environment to Windows
image: Visual Studio 2019

platform:
  - x64
  
configuration:
  - Release

branches:
  only:
    - update-layout-structure

build:
  verbosity: detailed

# Debug and manually install Qt if necessary
install:
  - ps: |
      if (-Not (Test-Path "C:\Qt")) {
          Write-Host "Downloading and Installing Qt..."
          $qtInstallerUrl = "https://download.qt.io/official_releases/online_installers/qt-unified-windows-x64-online.exe"
          $qtInstallerPath = "$env:TEMP\qt-unified-windows-x64-online.exe"
          Invoke-WebRequest -Uri $qtInstallerUrl -OutFile $qtInstallerPath
          Start-Process -Wait -FilePath $qtInstallerPath -ArgumentList "--silent", "--platform minimal", "--root C:\Qt", "--modules qt.qt6.680.win64_msvc2019_64"
      }

# Define the build cache to speed up subsequent builds
cache:
  - C:\Qt\6.8.0\msvc2022_64

# Clone the repository
clone_folder: c:\projects\pehint

# Before build: set up environment
before_build:
  - dir C:\Qt
  - set QT_DIR=C:\Qt\6.8.0\msvc2022_64\lib\cmake\Qt6
  - set CMAKE_PREFIX_PATH=%QT_DIR%
  - echo CMAKE_PREFIX_PATH=%CMAKE_PREFIX_PATH%
  - dir "%QT_DIR%"
  - cmake -B build -S . -DCMAKE_PREFIX_PATH=%CMAKE_PREFIX_PATH% -G "Visual Studio 16 2019" -A x64

# Build script
build_script:
  - cmake --build build --config Release

# Artifacts: include the final executable for download
artifacts:
  - path: build\Release\PEHint.exe
    name: PEHint Executable
