# AppVeyor configuration for PEHint project

version: '{branch}.{build}'
skip_tags: true

# Set the environment to Windows
image: Visual Studio 2019

platform:
  - x64

configuration:
  - Release

timeout: 60

branches:
  only:
    - update-layout-structure

build:
  verbosity: detailed

# Install Qt
install:
  - ps: |
      $qtInstallerUrl = "https://download.qt.io/official_releases/online_installers/qt-unified-windows-x64-online.exe"
      $qtInstallerPath = "$env:TEMP\qt-unified-windows-x64-online.exe"
      Invoke-WebRequest -Uri $qtInstallerUrl -OutFile $qtInstallerPath
      if (-Not (Test-Path $qtInstallerPath)) {
          Write-Host "Qt installer was not downloaded successfully!"
          exit 1
      }
      Write-Host "Qt installer downloaded to $qtInstallerPath"
      Start-Process -Wait -FilePath $qtInstallerPath -ArgumentList "--silent", "--verbose", "--platform minimal", "--root C:\Qt", "--modules qt.qt6.670.win64_msvc2019_64,qt.qt6.670.win64_msvc2019_64.tools"

# Cache installed Qt
cache:
  - C:\Qt

# Clone the repository
clone_folder: c:\projects\pehint

# Before build: set up environment
before_build:
  - set Qt6_DIR=C:\Qt\6.7.2\msvc2019_64\lib\cmake\Qt6
  - set Qt6Widgets_DIR=C:\Qt\6.7.2\msvc2019_64\lib\cmake\Qt6Widgets
  - set Qt6CoreTools_DIR=C:\Qt\6.7.2\msvc2019_64\lib\cmake\Qt6CoreTools
  - echo CMAKE_PREFIX_PATH=%Qt6_DIR%
  - cmake -B build -S . -DCMAKE_PREFIX_PATH=%Qt6_DIR% -G "Visual Studio 16 2019" -A x64 -DQT_DEBUG_FIND_PACKAGE=ON --debug-find

# Build script
build_script:
  - cmake --build build --config Release
  - ps: Start-Sleep -Seconds 3600

# Artifacts: include the final executable for download
artifacts:
  - path: build\Release\PEHint.exe
    name: PEHint Executable
