# AppVeyor configuration for PEHint project

# Set the environment to Windows
image: Visual Studio 2022

# Define the build matrix
environment:
  matrix:
    - QT_DIR: C:\Qt\6.8.0\msvc2022_64

# Define the build cache to speed up subsequent builds
cache:
  - C:\Qt\6.8.0\msvc2022_64

# Clone the repository
clone_folder: c:\projects\pehint

# Before build: install dependencies
before_build:
  # Add Qt bin folder to PATH
  - set PATH=%QT_DIR%\bin;%PATH%
  # Set the generator to Visual Studio 2022
  - set CMAKE_GENERATOR="Visual Studio 17 2022"

# Build script
build_script:
  - cmake -B build -DCMAKE_PREFIX_PATH=%QT_DIR% -A x64
  - cmake --build build --config Release

# Artifacts: include the final executable for download
artifacts:
  - path: build\Release\PEHint.exe
    name: PEHint Executable
