# AppVeyor configuration for PEHint project

version: '{branch}.{build}'
skip_tags: true

# Set the environment to Windows
image: Visual Studio 2019

# Define the build matrix
environment:
  matrix:
    - QT_DIR: C:/Qt/6.8.0/msvc2022_64/lib/cmake/Qt6

platform:
  - x64
  
configuration:
  - Release

branches:
  only:
    - update-layout-structure

build:
  verbosity: detailed

# Define the build cache to speed up subsequent builds
cache:
  - C:/Qt/6.8.0/msvc2022_64

# Clone the repository
clone_folder: c:/projects/pehint

# Before build: set up environment
before_build:
  # Debug Qt installation
  - echo CMAKE_PREFIX_PATH=%CMAKE_PREFIX_PATH%
  - echo QT_DIR=%QT_DIR%
  - dir %QT_DIR%
  # Specify CMake prefix path
  - set CMAKE_PREFIX_PATH=C:/Qt/6.8.0/msvc2022_64
  # Generate build system
  - cmake -B build -S . -DCMAKE_PREFIX_PATH=%CMAKE_PREFIX_PATH% -G "Visual Studio 16 2019" -A x64

# Build script
build_script:
  - cmake --build build --config Release

# Artifacts: include the final executable for download
artifacts:
  - path: build\Release\PEHint.exe
    name: PEHint Executable
